@using Security.Models.Database
@model CareerExperience

@section Title {
    Add New Work Experience
}

@section MyProfile {

    @if (ViewData["currentUser"] != null)
    {
        UserItem user = (UserItem)ViewData["currentUser"];
        if (user.RoleId == 2)
        {
            <li><a asp-controller="Profile" asp-action="Profile" asp-route-id="@user.Id" class="nav-link text-dark">My Profile</a></li>
        }
        <li><a asp-controller="Login" asp-action="Logout" class="nav-link text-dark">Logout</a></li>
    }
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row ProfileHeader">
    <form asp-action="AddCareer" asp-controller="Profile" method="post">
        <fieldset>
            <legend>Add Career Experience</legend>
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Title">Job Title: </label>
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Employer">Employer: </label>
                            <input asp-for="Employer" class="form-control" />
                            <span asp-validation-for="Employer" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Industry">Industry: </label>
                            <input asp-for="Industry" class="form-control" />
                            <span asp-validation-for="Industry" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="StartDate">Start Date: </label>
                            <input asp-for="StartDate" class="form-control" />
                            <span asp-validation-for="StartDate" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label asp-for="EndDate">End Date: </label>
                            <input asp-for="EndDate" class="form-control" />
                            <span asp-validation-for="EndDate" class="error"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="JobDescription">Job Description: </label>
                            <textarea rows="4" asp-for="JobDescription" class="form-control"></textarea>
                            <span asp-validation-for="JobDescription" class="error"></span>
                        </div>
                    </div>
                    @*<div class="col-sm-3"></div>
                    <div class="col-md-3">
                        <div class="custom-control custom-switch col text-left">
                            <input asp-for="Employed" type="checkbox" class="custom-control-input" id="customSwitch1">
                            <label asp-for="Employed" class="custom-control-label" for="customSwitch1">Currently employed</label>
                        </div>
                    </div>*@
                    
                    <div class="col-md-6 text-left">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                    <div class="col-md-6 text-right">
                        <a asp-controller="Profile" asp-action="ProfileEdit" asp-route-id="@ViewData["currentUserId"]" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
                <input asp-for="Id" value="@Model.Id" hidden />
                <input asp-for="ProfileId" value="@Model.ProfileId" hidden />
            </div>
        </fieldset>
    </form>
</div>