@using Security.Models.Database
@model Portfolio

@section Title {
    Add New Project
}

@section MyProfile {

    @if (ViewData["currentUser"] != null)
    {
        UserItem user = (UserItem)ViewData["currentUser"];
        if (user.RoleId == 2)
        {
            <li><a asp-controller="Profile" asp-action="Profile" asp-route-id="@user.Id" class="nav-link text-dark">My Profile</a></li>
        }
        <li><a asp-controller="Login" asp-action="Logout" class="nav-link text-dark">Logout</a></li>
    }
}

<form asp-action="AddPortfolioProject" asp-controller="Profile" method="post">
    <fieldset>
        <legend>Add Portfolio Project</legend>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ProjectTitle">Project Title: </label>
                        <input asp-for="ProjectTitle" class="form-control" />
                        <span asp-validation-for="ProjectTitle" class="error"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ProjectLink">Project Link: </label>
                        <input asp-for="ProjectLink" class="form-control" />
                        <span asp-validation-for="ProjectLink" class="error"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ProjectDescription">Project Description: </label>
                        <textarea rows="4" asp-for="ProjectDescription" class="form-control"></textarea>
                        <span asp-validation-for="ProjectDescription" class="error"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="TechNames">Technology: </label>
                        <input asp-for="TechNames" class="form-control" />
                        <span asp-validation-for="TechNames" class="error"></span>
                    </div>
                </div>

                <div class="col-md-6 text-left">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="col-md-6 text-right">
                    <a asp-controller="Profile" asp-action="ProfileEdit" asp-route-id="@ViewData["currentUserId"]" class="btn btn-danger">Cancel</a>
                </div>
            </div>
            <input asp-for="Id" value="@Model.Id" hidden />
            <input asp-for="ProfileId" value="@Model.ProfileId" hidden />
        </div>
    </fieldset>
</form>