@using Security.Models.Database
@model ChangePasswordViewModel

@section StyleSheet {
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/css/Register.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/js/Register.js"></script>@* Not used *@
}

@section Title {
    Update Password
}

@section MyProfile {

    @if (ViewData["currentUser"] != null)
    {
        UserItem user = (UserItem)ViewData["currentUser"];
        if (user.RoleId == 2)
        {
            <li><a asp-controller="Profile" asp-action="Profile" asp-route-id="@user.Id" class="nav-link text-dark">My Profile</a></li>
        }
        <li><a asp-controller="Login" asp-action="Logout" class="nav-link text-dark">Logout</a></li>
    }
}

<h1>Update Password</h1>
<div class="row ChangePassword">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <form asp-action="ChangePassword" method="post" asp-controller="Profile">
            <div class="form-group">
                <input asp-for="OldPassword" placeholder="Current Password" class="form-control" type="password" />
                <span asp-validation-for="OldPassword" class="error"></span>
            </div>

            <div class="form-group">
                <input asp-for="NewPassword" placeholder="New Password" class="form-control" type="password" />
                <span asp-validation-for="NewPassword" class="error"></span>
            </div>
            <div class="form-group">
                <input asp-for="ConfirmPassword" placeholder="Confirm Password" class="form-control" type="password" />
                <span asp-validation-for="ConfirmPassword" class="error"></span>
            </div>
            <input asp-for="UserId" value="@Model.UserId" hidden />
            <button type="submit" class="btn btn-success">Change Password</button>
        </form>
    </div>
    <div class="col-sm-4"></div>
</div>